.time-sheet-wrapper {
  display: inline-block;
  width: 100%;
  margin: 0px;

  .time-sheet {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    padding: 5px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;

    h2 {
      display: inline-block;
      margin: 0px;
      margin-left: 10px;
    }
    h6 {
      margin: 0px;
      font-size: 1em;
      margin-left: 10px;
      display: inline-block;
    }

    #sheetControls {
      text-align: center;
      margin-bottom: 50px;
      border-radius: 9px;

      button {
        cursor: pointer;
        font-size: 1.5em;
        padding: 10px;
        border-radius: 5px;
        box-shadow: #b43246 2px 2px;
      }
    }
  }
}
