.time-sheet-wrapper {
  display: inline-block;
  width: 100%;
  margin: 0px;

  .time-sheet-paper {
    border: 2px solid rgb(185, 185, 223);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 200px;
    width: 100%;
    max-width: 900px;
    padding: 5px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;

    .header {
      h2 {
        display: inline-block;
        margin: 0px;
        margin-left: 10px;
      }
      h6 {
        margin: 0px;
        font-size: 1em;
        margin-left: 10px;
        display: inline-block;
      }
    }

    .main-wrapper {
      margin-top: 20px;
      display: flex;

      .instructions {
        display: inline-block;
        flex: 33%;

        #sheetControls {
          margin-top: 70px;
          text-align: center;

          button {
            cursor: pointer;
            font-size: 1.5em;
            padding: 10px;
            border-radius: 5px;
            box-shadow: #b43246 2px 2px;
          }
        }
      }

      .table-wrapper {
        padding: 20px;
        display: inline-block;
        flex: 66%;
        max-height: 65vh;
        overflow-y: scroll;
      }
    }
  }
}
