.time-sheet-wrapper {
  display: inline-block;
  width: 100%;
  margin: 0px;
  
  .time-sheet {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    padding: 5px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;


    h2 {
      display: inline-block;
      margin: 0px;
      margin-left: 10px;
    }
    h6 {
      margin: 0px;
      font-size: 1em;
      margin-left: 10px;
      display: inline-block;
    }

    #sheetControls {
      text-align: center;
      margin-bottom: 50px;
      border-radius: 9px;

      button {
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        box-shadow: #B43246 2px 2px;
      }      
    }
  }

  #addEmployeeModal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/img/cool-background.png");
    background-size: cover;
    background-repeat: no-repeat;

    #activeSection {
      margin: auto;
      margin-top: 15vh;
      width: 40vw;
      background-color:white;
      padding: 20px;

      box-shadow: rgba(0, 0, 0, 0.616) 5px 6px;

      .inputs {
        min-height: 200px;
      }
    
      .button-wrapper {
        text-align: center;
       
      button {
        cursor: pointer;
        width: 130px;
        margin: 10px;
        padding: 10px;
        box-shadow: #B43246 2px 2px;
      }}

    }

  }

}
