.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  tr {
    th {
      font-size: 1.2em;
      padding-left: 10px;
      padding-bottom: 10px;
      &.emp-info {
        min-width: 250px;
      }
    }
    td {
      border-top: 1px solid;
      text-align: center;
      padding: 1px 2px 1px 2px;
      vertical-align: middle;

      div {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        margin: 0px 10px 0px 10px;

        &.name-phone {
          float: left;
          text-align: left;
          .name {
            font-size: 1.5em;
            font-weight: bold;
          }
        }
      }

      i {
        font-size: 1.3em;
        transition: all 0.1s;
        cursor: pointer;
        &.clockIn {
          color: green;
          padding: 5px;
        }
        &.clockOut {
          color: black;
        }
      }
      i:hover {
        &.clockOut {
          font-size: 2em;
          color: green;
        }
      }
    }

    td.clockInTd {
      position: relative;
      font-size: 1, 2em;
      .deleteRowDiv {
        transition: all 0s;
        visibility: hidden;
        position: absolute;
        top: 5px;
        left: -50px;
        width: 140px;
        padding: 8px;
        border-radius: 5px;

        // Prevent Text to be selected on double click
        user-select: none; /* standard syntax */
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none; /* IE10+ */

        .fa-exclamation-circle {
          color: red;
        }
      }
    }

    td.clockInTd:hover {
      .deleteRowDiv {
        background-color: white;
        border: 1px solid;
        cursor: pointer;
        visibility: visible;
      }
    }
  }
}
