body, html {
    margin: 0px;
    font-family: "Happy Monkey";
    background-image: url("/img/cool-background.png"); 
    // need to find a better background that stretches better
    background-size: cover;
}