#edit-user {
  font-size: 22px;

  a {
    display: block;
    margin-bottom: 20px;
  }

  text-align: center;

  #personDetails {
    margin-top: 50px;
    display: inline-block;
    padding: 20px;

    .inputGroup {
      padding: 20px;
    }

    label {
      display: block;
      margin-right: 10px;
    }

    input {
      font-size: 22px;
    }

    button {
      font-size: 18px;
      padding: 8px;
    }
  }
}
